@import "tailwindcss";

@theme {
  --color-brand: #2780e2;
  --color-brand-glow: #2780e244;
  --color-dark: #050505;
  --color-surface: #0d0d0d;
  --color-surface-accent: #121212;
  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
